<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Paseos</title>
        <%- include('../_partials/_header') %>
        <%- include('../_partials/access/_footer') %>
    </head>
    <body>
        <%- include('navigation') %>
        <div class="container-fluid">
            <div class="col-sm-6">
                <h4 style="padding: 5px"><img src="/images/dogemate_logo.jpg" alt="DogeMate"/> </h4>
            </div>

            <div class="col-sm-6">
            <br>
                <div class="well bs-component">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">Por favor, realiza los siguientes examenes para continuar con tu registro</a>

                                <div class="list-group-item">
                                    <li class="list-group-item"><span class="badge"><a href="/examen1"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Examen psicológico #1</li>
                                    <li class="list-group-item"><span class="badge"><a href="/examen2"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Examen psicológico #2</li>
                                </div>
                                <br>
                                <a href="#" class="list-group-item active">Por favor, sube el siguiente documento para continuar con tu registro</a>
                                <div class="list-group-item">
                                    <li class="list-group-item"><span class="badge"><a href="/ioficial"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Identificación oficial (vigente)</li>
                                    <li class="list-group-item"><span class="badge"><a href="/ioficial"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Carta de no antecedentes penales (vigente)</li>
                                </div>
                                <br>
                                <a href="#" class="list-group-item active">Por favor, sube las siguientes fotos para continuar con tu registro</a>
                                <div class="list-group-item">
                                    <li class="list-group-item"><span class="badge"><a href="/collares"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Collares</li>
                                    <li class="list-group-item"><span class="badge"><a href="/correas"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Correas</li>
                                    <li class="list-group-item"><span class="badge"><a href="/bolsas"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Bolsas para heces</li>
                                </div>
                                <br>
                                <a href="#" class="list-group-item active">Por favor, lee y acepta los términos y condiciones</a>
                                <div class="list-group-item">
                                    <li class="list-group-item"><span class="badge"><a href="/termycon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></span></span>Términos y condiciones</li>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <script>
            angular.module('app', ['ngRoute', 'ngResource'])
            .factory();
        </script>
    </body>
</html>