<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Paseos</title>
        <%- include('../_partials/_header') %>
    </head>
    <body>
        <h4 style="padding: 5px"><img src="/images/dogemate_logo.jpg" alt="DogeMate"/> DogeMate</h4>
        <%- include('navigation') %>

        <script>
            angular.module('app', ['ngRoute', 'ngResource'])
            .factory();
        </script>
    </body>
</html>