<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home" aria-expanded="false">
			</button>
			<div class="navbar-brand-image">
				<img src="/images/dogemate_logo.JPG" height="50px" style="padding: 0px" /><span style="padding: 20px; color:cornsilk">DogMate</span>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="home">
			<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toogle" data-toggle="dropdown" role="button" aria-expanded="false">Menú<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/intperfil">Profile</a></li>
                    </ul>
                </li>
                <li><a href="/">Salir</a></li>
            </ul>			
		</div>
	</div>
</nav>