<!DOCTYPE hmtl>
<html>
    <head>
        <title>Paseos</title>
        <%- include('../_partials/_header') %>
    </head>
    <body>
        <%- include('navigation') %>
        <div class="container-fluid">
            <div class="page-header">
                <h1>Paseos</h1>
            </div>
            <div>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Duración</th>
                            <th>Delegación</th>
                            <th>Colonia</th>
                            <th>Costo (MXN)</th>
                            <th>Factor de costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12-Abril-2017</td>
                            <td>14:32</td>
                            <td>24:42</td>
                            <td>Tlalpan</td>
                            <td>Ejidos de Huipulco</td>
                            <td>24.00</td>
                            <td>1.0</td>
                        </tr>
                        <tr>
                            <td>18-Abril-2017</td>
                            <td>16:11</td>
                            <td>24:42</td>
                            <td>Tlalpan</td>
                            <td>Ejidos de Huipulco</td>
                            <td>26.24</td>
                            <td>1.1</td>
                        </tr>
                        <tr>
                            <td>24-Abril-2017</td>
                            <td>9:04</td>
                            <td>1:04:42</td>
                            <td>Tlalpan</td>
                            <td>Ejidos de Huipulco</td>
                            <td>52.50</td>
                            <td>1.0</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" align="right"></th>
                            <th>Total</th>
                            <th colspan="2">102.74</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>