<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>DogeMate</title>
        <%- include('../partials/header') %>
    </head>
    <body>
        <%- incude('../extenal/navigation') %>
        <ng-view></ng-view>
        <!-- Index page -->
        <
    </body>
</html>