<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home" aria-expanded="false">
				<span class="sr-only">Ocultar menú</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand-image" href="/">
				<img src="/images/dogemate_logo.JPG" height="50px" style="padding: 0px" /><span style="padding: 20px; color:cornsilk">DogMate</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="home">
			<ul class="nav navbar-nav navbar-right">
                <li><a href="#/registro">Registro</a></li>
                <li><a href="/start#/">Acceder</a></li>
            </ul>			
		</div>
	</div>
</nav>