<div role="tabpanel" class="tab-pane fade" id="contacto">
    <div class="page-header">
        <h1 align="center">Contacto</h1>
    </div>
    <div>
        <div class="col-md-5 col-lg-4">
            <p><strong>Dirección: </strong>Calle del Puente 222, Ejidos de Huipulco, 14380 Tlalpan, CDMX</p>
            <p><strong>Correo: </strong><a href="mailto:contacto@dogmate.com?Subject=Contacto%20DogMate" target="_top">contacto@dogmate.com</a></p>
            <p><strong>Teléfono: </strong>01 800 dogmate</p>
            <p><strong>Horario de atención: </strong>Lunes-Viernes: 7:00am - 12:00pm, Sábado y Domingo: 6:00am - 12:00pm</p>
        </div>
        <div class="col-md-7 col-lg-8">
            <div id="map"></div>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEyodYkAly_4QQvzf5aobhSiCy05aovww&callback=initMap">
            </script>
            <script>
                function initMap() {
                    var uluru = {lat: 19.283714, lng: -99.135206};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 3,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
        </div>
    </div>
</div>


