<div role="tabpanel" class="tab-pane fade" id="funcionalidad">
    <div class="page-header">
        <h1 align="center">Conoce DogMate</h1>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Servicio de paseo de perros a domicilio
                </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                En el año 2017 nace una asociación canina pionera en México, por su enfoque principal: la prevención de la agresividad canina desde el respeto y el conocimiento de la comunicación, comportamiento y necesidades de los perros. DogMate es una asociación personas interesadas en el adiestramiento, educación canina, veterinaria y personal cualificado de asociaciones proteccionistas, entidades, empresas y ​desde luego por gente amante de la especie canina, implicada en un objetivo común: mejorar la convivencia entre perr​os y personas, además de prevenir y evitar las mordeduras caninas. El problema mejor solucionado es el que nunca ocurrió. En eso, las personas podemos hacer mucho. Saber cómo interaccionar con ​la especie canina, entender sus mensajes y pensar las situaciones o actitudes que debemos evitar, hará que nuestr​os perr​os se sientan segur​os delante de las personas y nunca tengan la necesidad de defenderse de ellas.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Especialistas caninos
            </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                El miedo es una emoción primaria común a la mayoría de especies; perrxs, humanxs y el resto de animales compartimos desde el nacimiento la capacidad de sentir miedo. Las experiencias vitales condicionan a qué y en qué medida vivirá cada ser esta emoción, fundamental para nuestra supervivencia, ya que nos advierte de peligros reales o imaginarios y nos permite, en ocasiones, dar respuesta y tomar medidas de protección, ya sean de afrontamiento o de huida. Es imposible que lxs perros, al igual que sus humanos, vivamos con total ausencia de miedo. Y está en nuestra mano modificar muchas de las circunstancias y los parámetros que lo provocan, para minimizar sus efectos. Algunas de las causas más comunes de la aparición de miedos vienen de la mano de lxs humanxs en general, pero muy particularmente de lxs que conviven con ellos y a lxs que tanto aman. Algunas de esas causas son: correcciones y castigos, amenazas, mal uso de la correa, paseos inadecuados, exposición ante estímulos para los que no están preparados.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Cuidados de tu mascota
            </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Mantener un peso saludable aplica tanto para mascotas como para los dueños. Uno lleva una vida más ligera cuando no tiene que preocuparse por cargar kilos extra. Tú controlas lo que les estás dando de comer, asegúrate que no les estés dando aserrín. También controla sus porciones y asegúrate que están caminando o corriendo lo suficiente para quemar las calorías. Si hace falta, cómprale también un juguete que lo mantenga activo aún dentro de casa. Hay que mantenerlos hidratados; infecciones en las vías urinarias son una de las enfermedades más comunes y son prevenibles. Sólo asegúrate que tus mascotas siempre tienen agua limpia y fresca a su alcance. Cámbiales el agua y lava sus platos regularmente.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Un sano paseo
            </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
            Quienes tienen la fortuna de vivir con un can lo saben, se ha confirmado en distintos estudios y se repite una y otra vez en diversos portales de salud y actividad física: Los perros son los compañeros ideales cuando uno desea mantenerse físicamente activo. La razón principal es que son animales sumamente activos y que ellos al igual que sus dueños requieren caminar, correr o activarse diariamente por salud física y mental. Esto aunado al bienestar emocional que da ver la alegría del perro cuando empezará la rutina, sin duda alguna empuja al individuo a ejercitarse día con día y, como resultado, a tener una vida mucho más sana. Un estudio realizado por la Escuela de Salud Pública de la Universidad George Washington confirma lo anterior.  El análisis mostró que quienes no tienen perros triplican los riesgos de diabetes comparados con los que salen a caminar con sus mascotas; también que los dueños de canes tienen menores índices de masa corporal (IMC), y menos condiciones crónicas y síntomas de depresión que los demás. Así mismo permanecen menos tiempo sentados, no fuman tanto y tienen más apoyo social.        </div>
            </div>
        </div>
    </div>
</div>
