<div role="tabpanel" class="tab-pane fade in active" id="inicio">
    <div class="page-header">
        <h1 align="center">DogMate</h1>
    </div>
    
    <div id="dog-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#dog-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#dog-carousel" data-slide-to="1"></li>
            <li data-target="#dog-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/happy_dog.jpg" alt="Perritos felices"/>
                <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3)">
                    <h3>Perros felices</h3>
                    <p>Tu mascota se divierte mientras da un paseo y se relaja.</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/healthy_dog.jpg" alt="Perritos saludables"/>
                <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3)">
                    <h3>Perros saludables</h3>
                    <p>No hay nada mejor que un poco de ejercicion para tu mejor amigo, con DogMate tu mascota se divertira mientras se ejercita y crece saludable.</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/dog_safety.jpg" alt="Perritos seguros"/>
                <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3)">
                    <h3>Perros seguros</h3>
                    <p>En DogMate somos responsables por la seguridad de tu mascota, es por ello que les damos el mejor trato y cuidado.</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#dog-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#dog-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
